.green-background {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: green;
  opacity: 0.8;
}

.intro {
  position: absolute;
  color: white;
  width: 50%;
  left: 25%;
  top: 25%;
  height: 50%;
  text-align: center;
  display: inline-block;
}

.intro h1 {
  display: inline-block;
  vertical-align: middle;
}

.intro a {
  text-decoration: none;
  font-size: 1.5em;
  margin: 0.5em;
  font-weight: bold;
  color:white;
}

.intro a:hover {
  color: red;
}
